/*
CSS
*/
 
html {
/*background-color: #444444!important;*/
position: absolute;
}
 
body {
margin: 0;
padding: 0;
font: .625em Georgia, Serif;
background-color: #111111!important;
color: #363636;

height: 900px;
}
.navbar{
	margin-bottom: 0px!important;
}
.img-topo{
	border: 0px solid red;
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	width: 1300px!important;
	height: 400px!important;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: 1300px 400px;

}
.img-topo img{
	width: 1300px!important;
	height: 400px!important;
	border: 0px solid blue;
	position: relative;
	display: inline-block; 
}
.navbar-brand a{
	margin: 0px;
}

.img-topo p{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color: white;
	margin-bottom: 5px;
	margin-left: 20px;
	

}
.titulo-eventex{
	margin-top: 30px;
}
.sessao1{
	margin-left: 350px;
	display: inline-block;
	border-top: 1px solid white;
	height: 1px;	
	margin-top: 14px;
	width: 250px;
	z-index: 1;
	float: left;
	margin-right: 20px;
	margin-top: 38px;
	margin-bottom: 20px;
}
.sessao2{
	
	display: inline-block;
	border-top: 1px solid white;
	height: 1px;
	float: left;
	margin-top: 14px;
	width: 250px;
	z-index: 1;
	margin-left: 20px;
	margin-right: 200px;
	margin-top: 38px;
	margin-bottom: 20px;
}
.sessao-title{
	display: inline-block;
	float: left;
	vertical-align: top!important;
	margin-bottom: 20px;

}
.info{
	margin-bottom: 10px;
	text-align: center;
	color: white;
	display: block;
	font-weight: bolder;
	font-size: 26px;
}

.text-group{
	width: 1200px;
	color: white;
	font-size: 18px;
	display: table;
	margin-top: 200px;	
	margin-left: 100px;

}
.text{
	float: left;
	width: 250px;
	color: white;
	font-size: 18px;
	margin-left: 30px;
}

.paragrafo{
	text-align: center!important;
	font-weight: bold;
	color: #003366!important;
}

.footer{
	margin-top: 20px;
	vertical-align: text-bottom;
	position: absolute;
	bottom: 0;
}

/* End hide from IE-mac */
